/*---------------------- GOOGLE fonts ----------------------*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

body {
    font-family: 'PT Sans Narrow', sans-serif;
    
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
}

.mainContainer {
    max-width: 70%;
    margin: 0 auto;
}
.cardContainer {
    max-width: 50%;
    margin: 0 auto;
}

